* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  display: table;
  margin: 0 auto;
}

h1 {
  font-family: 'Fredericka the Great', cursive, 'Times New Roman';
  font-size: 9em;
  font-weight: normal;
  margin: 0 auto;
  display: grid;
  position: relative;
  text-align: center;
  top: 0.5em;
}

img {
  display: block;
  width: 13em;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  border-radius: 15px 55% 2%;
  position: relative;
  top: 10em;
  
}

p {
  font-family: 'Oswald', sans-serif;
  display: grid;
  position: relative;
  text-align: center;
  margin: 2em;
  bottom: 8rem;
}

span {
  color: rgb(238, 13, 69);
  font-size: 2.7em;
  font-family: 'Fredericka the Great', 'Times New Roman';
  display: block;
  position: relative;
  bottom: 0.2rem;
}

#background-shape {
  display: block;
  position: relative;
  bottom: 12em;
  left: 6em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 20em;
  height: 23em;
  background: rgb(255, 203, 125);
  border-radius: 75% 5px 75% 5px;
  opacity: 70%;
  z-index: -1;
  
}

@media only screen and (max-width: 570px) {
  h1 {
    font-size: 5em;
  }
  
  img {
    width: 8em;
    height: 100%;
    top: 7em;
  }

  #background-shape {
    width: 11em;
    height: 15em;
    position: relative;
    bottom: 7.5rem;
    margin: 0 auto;
    left: 4em;
    
  }

  p {
  position: relative;
  margin: 2em;
  bottom: 5rem;
  }

}

span {
  font-size: 2em;
  position: relative;
  bottom: 0.4rem;
  margin: 0.6em 2em;
}