* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  }

body {
  font-family: 'Amatic SC', sans-serif;
  font-size: 1.8rem;
  }

h1,
h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  text-align: center;
  }

img {
  display: block;
  width: 100%;

}

.nav {
  display: grid;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  background: #06d1b9;
  height: 2.5em;
}

.nav-link a:hover {
  display: grid;
  font-size: 1.5em;
  color: #670f8c;
  font-weight: bolder;
}

ul {
 display: inline-flex;
 list-style: none;
 
 
}

li {
 padding: 0.7em;
 
}

a {
  color: whitesmoke;
  text-decoration: none;
 
}

.welcome-section {
  display: flex;
  justify-content: center;
  width: 100%;
  

}